button{
    background-color: #0066FF;
    border-radius: 8px;
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 3%;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
}