body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 32px;
    color: #333;
    margin-top: 20px;
    padding: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-md-4 {
    flex-basis: 33.33%;
    padding: 10px;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

dl {
    margin: 0;
    padding: 0;
}

dt {
    font-weight: bold;
    font-size: 18px;
}

dd {
    margin-left: 20px;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0055CC;
}

.row {
    max-width: 1000px;
    margin: 0 auto;
}