{% extends 'base.html.twig' %}

{% block title %}Création d'affectation{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">Création d'une affectation</h1>
</div>
{% endblock %}