{% extends 'base.html.twig' %}

{% block title %}Assignment{% endblock %}

{% block body %}
    <h1>Liste des affectations</h1>
    {% for assignment in assignments %}
        <li>
            Affectation {{ assignment.id }}
        </li>
    {% endfor %}
{% endblock %}
