{% extends 'base.html.twig' %}

{% block title %}Hello SubjectController!{% endblock %}

{% block body %}
    <form method="post" action="{{ path('excel_to_json') }}" enctype="multipart/form-data">
        <input type="file" name="excel_file">
        <button type="submit">Convertir en JSON</button>
    </form>

{% endblock %}
