{% extends 'base.html.twig' %}

{% block title %}Hello SubjectController!{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/subject/uploadExcel.js') }}" defer></script>
{% endblock %}

{% block body %}
    <form id="uploadForm" enctype="multipart/form-data" action="{{ path('app_subjects') }}" method="POST">
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Upload Excel File" name="submit">
    </form>

    <div id="result"></div>
{% endblock %}
