.meContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFEFEF;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    width: 40%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.meContainer p {
    display: inline;
    margin: 10px;
}

.meContainer .divider {
    width: 10px;
    margin: 0 10px;
    border-left: 1px solid #000;
    padding-left: 10px;
}
