.table-container {
    margin: 50px auto;
    width: 60%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h2 {
    background-color: #EFEFEF;
    color: black;
    padding: 10px;
    margin: 0;
    border-radius: 5px 5px 0 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.modifier-button {
    background-color: #007BFF;
    color: #fff;
    margin-right: 5px;
}

.supprimer-button {
    background-color: #FF5733;
    color: #fff;
    margin-right: 5px;
}

.modifier-button:hover {
    background-color: #0056b3;
}

.supprimer-button:hover {
    background-color: #e64528;
}

.ajouter-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.ajouter-button:hover {
    background-color: #1e7e34;
}