{% block head %}
    {% block stylesheets %}
        <link href="{{ asset('css/navbar.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
{% endblock %}

{% block body %}
    <header class="header">
        <a href="/" class="logo">EDT</a>

        <nav class="navbar">
            <a href="/">Accueil</a>
            <a href="#">Historique</a>
            <a href="{{ path('app_user_show')}}">Profil</a>
            <a href="/logout">Déconnexion</a>
        </nav>
    </header>
{% endblock %}