{% extends 'base.html.twig' %}

{% block title %}Semestres{% endblock %}

{% block body %}
    <div {{ react_component('App') }}></div>
    <li><a href="{{ path('app_react_semesters') }}">Semestres</a></li>
{% endblock %}
